

body { 
	margin: 0; 
	display: flex; 
	align-items: center; 
	justify-content: space-around; 
	flex-direction: column; 
	height: 100vh; 
	background-color:#f5fcff; 
	font-family: 'Poppins', sans-serif; 
    color: #3a10e5;

} 

.textup { 
	text-align: center; 
	color:black; 
	font-weight: 700; 
} 

i { 
	margin-right: 3px; 
} 

.form-box { 
	background-color: #f5fcff; 
	box-shadow: 0 0 10px black; 
	padding: 15px; 
	border-radius: 8px; 
	width: 500px; 
} 

form { 
	max-width: 400px; 
	margin: 0 auto; 
} 

.radio-group { 
	display: flex; 
	margin-bottom: 16px; 
} 

input[type="radio"] { 
	margin-right: 8px; 
} 

label { 
	display: block; 
	margin-bottom: 8px; 
	font-size: 17px; 
	color:black; 
	font-weight: 600; 
} 

input, 
textarea { 
	width: 100%; 
	padding: 8px; 
	margin-bottom: 12px; 
	box-sizing: border-box; 
	border-radius: 10px; 

} 

button { 
	background-color: #3a10e5; 
	color: #fff; 
	padding: 10px; 
	border: none; 
	border-radius: 25px; 
	cursor: pointer; 
	width: 100%; 
	font-size: 15px; 
	transition: .2s linear; 
} 

button:hover { 
	background-color:black; 
	border: none; 
	transform: translateY(-10px); 
} 

h1 { 
	color:black;
    font-family: fantasy;
    font-size: 35px; 
    font-weight: bold;
    width: 400px;
    text-align: center;
}
